:root {
    /* vars */
    --theme-color: aqua;
}

@font-face {
    font-family: "consolas";
    src: url("consolas.ttf");
}

html,
body {
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 0;
    height: 100%;
    user-select: none;
    font-family: consolas;
}

.title {
    font-size: 40px;
    color: var(--theme-color);
    display: inline;
    font-weight: bold;
    -webkit-app-region: drag;
}

.menu {
    background: rgba(2, 2, 2, 0.199);
    -webkit-app-region: drag;
    height: 40px;
    width: 100%;
}

.menu_button_stay,
.menu_button {
    background: transparent;
    background-size: cover;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    -webkit-app-region: no-drag;
    transition: all 0.2s ease-out;
}

.menu_draggable {
    -webkit-app-region: drag;
}

.menu_button:hover {
    background: transparent;
    background-size: cover;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#buttons {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
    margin-top: 2px;
}

h4 {
    top: -20px;
    left: 4px;
    right: 5px;
    position: relative;
    color: var(--theme-color);
}

#quit {
    background-image: url("./public/img/quit1.png");
}

#quit:hover {
    background-image: url("./public/img/quit2.png");
}

#minimize {
    background-image: url("./public/img/min1.png");
}

#minimize:hover {
    background-image: url("./public/img/min2.png");
}

#show {
    background-image: url("./public/img/show1.png");
}

#show:hover {
    background-image: url("./public/img/show2.png");
}

.settings {
    background-image: url("./public/img/settings1.png");
}

.settings_stay,
.settings:hover {
    background-image: url("./public/img/settings2.png");
}

.cps {
    background-image: url("./public/img/cps1.png");
}

.cps_stay,
.cps:hover {
    background-image: url("./public/img/cps2.png");
}

.search {
    background-image: url("./public/img/search1.png");
}

.search_stay,
.search:hover {
    background-image: url("./public/img/search2.png");
}

.info {
    background-image: url("./public/img/info1.png");
}

.info_stay,
.info:hover {
    background-image: url("./public/img/info2.png");
}

.update {
    background-image: url("./public/img/update1.png");
}

.update:hover {
    background-image: url("./public/img/update2.png");
}

.session {
    background-image: url("./public/img/session1.png");
}

.session_stay,
.session:hover {
    background-image: url("./public/img/session2.png");
}

.main {
    font-family: consolas;
    font-weight: bolder;
    color: var(--theme-color);
    overflow-y: scroll;
}

table {
    font-family: consolas;
    font-weight: bolder;
    color: var(--theme-color);
    overflow-y: scroll;
    border: 1px solid #333;
    border-style: solid;
    border-collapse: collapse;
}

th {
    border-left: 1px solid var(--theme-color);
    border-top: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}

td {
    border: 1px solid var(--theme-color);
    border-style: solid;
    border-collapse: collapse;
}

thead,
tfoot {
    background-color: var(--theme-color);
    color: var(--theme-color);
}

.subtitle {
    display: inline;
    position: absolute;
    text-align: center;
    top: 25px;
    font-size: 25px;
    color: var(--theme-color);
    padding-inline-start: 10px;
}

.subtitle {
    display: inline;
    position: absolute;
    text-align: center;
    top: 25px;
    font-size: 25px;
    color: var(--theme-color);
    padding-inline-start: 10px;
}

.data {
    display: inline;
    position: absolute;
    text-align: center;
    top: 70px;
    font-size: 15px;
    white-space: break-spaces;
    padding-inline-start: 10px;
}

input {
    background: #FFFFFF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: "consolas";
    font-size: 18px;
    color: #000000;
    text-indent: 10px;
}

.dataStyle {
    margin: 10px;
    font-size: 15px;
    font-family: "consolas";
    color: #FFFFFF;
    background-color: #00000060;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s ease-out;
}

.infoFont {
    font-size: 25px;
    font-family: "consolas";
    color: #FFFFFF;
}

.searchButton,
.download {
    background: transparent;
    font-family: consolas;
    font-size: 15px;
    color: #FFFFFF;
}

select {
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 30px;
    background: rgba(82, 82, 82, 0.582);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #b9b9b9;
    font-family: consolas;
    display: inline-block;
}

.setting_subtitle {
    text-align: center;
    font-size: 25px;
    color: var(--theme-color);
    font-family: consolas;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.setting_button {
    background: transparent;
    font-family: consolas;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    background: rgba(60, 60, 60, 0.4);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #b9b9b9;
    display: inline-block;
    padding: 0 22px;
    transition: all 0.2s ease-out;
}

.setting_button:hover {
    background: rgba(128, 128, 128, 0.582);
}

.add_button {
    position: relative;
    top: -20px;
    width: 40px;

    padding: 0 0;
}

.infopage {
    display: inline-block;
    font-family: "consolas";
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
}

.tooltip .tooltiptext {
    padding: 5px;
    background-color: gray;
    border-color: var(--theme-color);
    border-style: solid;
    border-width: 1px;
    color: var(--theme-color);
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.2s ease-out;
    position: absolute;
    z-index: 1;
    min-width: 10px;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.message {
    background-color: #ff0000d0;
    font-family: "consolas";
    font-size: larger;
    color: white;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.3s ease-out;
    text-align: center;
}

.taginfo {
    color: var(--theme-color);
    text-align: left;
    font-size: large;
    font-family: consolas;
}

@keyframes loading_icon {
    from {
        left: 20%;
    }

    to {
        left: 80%;
    }
}

.progress_circle {
    fill: none;
    stroke: var(--theme-color);
    stroke-width: 4;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    animation: circle 3s infinite;
    transform: rotate(-90deg);
    transform-origin: center;
    transform-box: fill-box;
}

.progress_text {
    font-size: 15px;
    font-family: "consolas";
    fill: var(--theme-color)
}

.infoData {
    color: var(--theme-color);
    font-size: large;
    font-weight: bolder;
}